/* Base infos */
* {
  margin: 0;
  padding: 0;
}

:root {
  background-color: rgb(51, 51, 99);
  color: antiquewhite;
  --violet: rgb(105, 105, 173);
}

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

header {
  display: flex;
  justify-content: left;
  align-items: center;
  margin: 0 1rem;
}

h1 {
  font-family: "EB Garamond", italic;
  font-style: italic;
  font-weight: 400;
  font-size: 2.5rem;
  margin-top: 2rem;
  margin-bottom: 2rem;
}

.language {
  margin-left: 5rem;
  align-items: end;
}

a {
  text-decoration: none;
  color: antiquewhite;
}

a:hover {
  color: var(--violet);
}

/* Form */
input {
  color: grey;
  font-size: 1rem;
  font-family: "EB Garamond", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  padding: 0.2rem;
}

input::placeholder {
  color: var(--violet);
  font-size: 1rem;
  font-family: "EB Garamond", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  padding: 0.2rem;
}

textarea {
  color: grey;
  font-size: 1rem;
  font-family: "EB Garamond", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  padding: 0.2rem;
}

textarea::placeholder {
  color: var(--violet);
  font-size: 1rem;
  font-family: "EB Garamond", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  padding: 0.2rem;
}

#myForm {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 1rem;
  margin-bottom: 2rem;
  font-family: "EB Garamond", serif;
  font-optical-sizing: auto;
  font-weight: 200;
  font-style: normal;
}

label {
  margin-top: 1.5rem;
  margin-bottom: 0.5rem;
}

/* All buttons */

.button {
  background-color: var(--violet);
  border-radius: 10px;
  border-style: none;
  padding: 0.8rem;
  margin-top: 1rem;
  color: antiquewhite;
  font-size: 1rem;
  font-family: "EB Garamond", serif;
  font-optical-sizing: auto;
  font-weight: 200;
  font-style: normal;
}

.button:hover {
  scale: 110%;
  background-color: antiquewhite;
  color: var(--violet);
}

/* Answer section */

#reponse {
  background-color: var(--violet);
  border-radius: 15px;
  padding: 2rem;
  margin-top: 1rem;
  width: 500px;
  font-family: "EB Garamond", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  width: 40%;
}

.hidden {
  visibility: hidden;
}

/* Carousel */
p {
  margin-bottom: 1rem;
}

img {
  width: 125px;
  height: 125px;
  cursor: pointer;
}

img:hover {
  transform: rotate(20deg);
}

#changeBalls {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

/* Footer */

ul li {
  list-style-type: none;
}

footer {
  font-family: "EB Garamond", italic;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: italic;
  color: rgba(250, 235, 215, 0.8);
  margin-top: 2rem;
  margin-bottom: 1rem;
}

footer a {
  color: grey;
}

/* Other screen sizes */
@media screen and (max-width: 1023px) {
  h1 {
    font-size: 1.6rem;
  }

  textarea {
    width: 80%;
  }

  #reponse {
    width: 40%;
  }
}

@media screen and (max-width: 599px) {
  h1 {
    font-size: 1.3rem;
  }

  textarea {
    width: 60%;
  }

  #reponse {
    width: 50%;
  }
}
